.Table {
    display: table;
    margin-left:auto;
    margin-right:auto;
}

.Title {
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.Heading {
    display: table-row;
    font-weight: bold;
    text-align: center;
}

.Row{
    display: table-row;
}

.Cell {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.Cell.qty {
    text-align: center;
}

a.blank {
    color: white;
}

h1 {
    text-align: center
}

h2 {
    text-align: center
}

img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#innerCell {
    height: 32px;
    width: 32px;
    text-align: center;
    vertical-align: middle;
}

#blankCell {
    border: unset;
}

#blankCellInner {
    height: 32px;
    width: 32px;
    border: unset;
}